import os

BYTEBOT_STATUS_URL = 'http://status.bytespeicher.org/status.json'
BYTEBOT_HTTP_TIMEOUT = 3
BYTEBOT_HTTP_MAXSIZE = 1024 * 1024 * 10

BYTEBOT_PLUGIN_CONFIG = {
    'rss': [
        {
            'name': 'Wiki',
            'url': 'http://www.technikkultur-erfurt.de/feed.php',
            'cache': '/tmp/feed_wiki.cache',
            'type': 'dokuwiki',
        },
        {
            'name': 'Website',
            'url':  'https://bytespeicher.org/feed/',
            'cache': '/tmp/feed_website.cache',
            'type': 'wordpress',
        },
        {
            'name': 'BytebotCommits',
            'url': 'https://github.com/Bytespeicher/Bytebot/commits/master.atom',
            'cache': '/tmp/feed_bytebot.cache',
            'type': 'github',
        },
        {
            'name': 'Redmine',
            'url':  'http://redmine.bytespeicher.org/issues.atom',
            'cache': '/tmp/feed_rm_bytespeicher.cache',
            'type': 'redmine',
        },
        {
            'name': 'SpacestatusCommits',
            'url': 'https://github.com/Bytespeicher/space-status/commits/master.atom',
            'cache': '/tmp/feed_spacestatus.cache',
            'type': 'github'
        },
    ],
    'messagelogger': {
        'file': '/tmp/irc.log'
    },
    'usercount': {
        'file': '/tmp/irc_user.log'
    },
    'autoop': {
        'name': {
            '#channelname': [
                'username',
            ],
        },
        'hostmask': {
            '#channelname': [
                'username!~user@example.com'
            ],
        }
    },
    'spacestatus': {
        'url': 'https://status.bytespeicher.org/status.json'
    },
    'mensa': {
        'canteen': 148,
    },
    'fuel': {
        'apikey': 'thiswoudbeyourapikey',
        'lat': '50.9827792',
        'lng': '11.0394426',
        'rad': '10',
    },
}
