#!/usr/bin/env python2
# -*- coding: utf-8 -*-

BYTEBOT_SERVER      = ""
BYTEBOT_PORT        = 6667
BYTEBOT_SSL         = True
BYTEBOT_NICK        = ""
BYTEBOT_PASSWORD    = ""
BYTEBOT_CHANNEL     = ""
BYTEBOT_DESCRIPTION = ""

BYTEBOT_DEBUG       = True
BYTEBOT_TOPIC       = u''

BYTEBOT_STATUS_URL  = 'http://status.bytespeicher.org/status.json'

BYTEBOT_DICT_COMMANDS = {
    'location':             'http://technikkultur-erfurt.de/bytespeicher:anfahrt',
    'preise':               'http://technikkultur-erfurt.de/hackerspace:preisliste',
    'dates':                'http://technikkultur-erfurt.de/hackerspace:veranstaltungen',
    'versorgung':           'http://technikkultur-erfurt.de/hackerspace:versorgung',
}

# Self references
# Template:
#BYTEBOT_DICT_COMMANDS[''] = BYTEBOT_DICT_COMMANDS['']
BYTEBOT_DICT_COMMANDS['preis'] = BYTEBOT_DICT_COMMANDS['preise']
BYTEBOT_DICT_COMMANDS['kosten'] = BYTEBOT_DICT_COMMANDS['preise']
#BYTEBOT_DICT_COMMANDS[''] = BYTEBOT_DICT_COMMANDS['']
BYTEBOT_DICT_COMMANDS['hunger'] = BYTEBOT_DICT_COMMANDS['versorgung']
BYTEBOT_DICT_COMMANDS['essen']  = BYTEBOT_DICT_COMMANDS['versorgung']

"""
Enable plugins by writing their lowercase name here
"""
BYTEBOT_PLUGINS= [
    'usercount',
    'messagelogger',
    'autoop',
    'spacestatus'
]

BYTEBOT_PLUGIN_CONFIG = {
    'messagelogger': {
        'file':     '/tmp/irc.log'
    },
    'usercount': {
        'file':     '/tmp/irc_user.log'
    },
    'autoop': {
        '#channelname': [
            'username'
        ]
    },
    'spacestatus': {
        'url': 'http://status.bytespeicher.org/status.json'
    }
}
